.paginacion {
    ul {
        list-style: none;
        overflow: hidden;
        margin-bottom: 1.25em;
        font-size: 1em;
        li {
            float: left;
            background-color: $gris_oscuro;
            color: #fff;
            margin-right: 0.62em;
            font-size: 1.125em;
            line-height: 1.125em;
            &.disabled {
                padding: 0.62em 0.937em;
                font-size: 1.125em;
                line-height: 1.125em;
            }
            a {
                background: $azul_primario;
                color: #fff;
                line-height: 1.125em;
                display: inline-block;
                padding: 0.62em 0.937em;
                &:hover {
                    background-color: $azul_secundario;
                    text-decoration: none;
                }
            }
        }
    }
    .wp-pagenavi {
        margin-bottom: 1.25em;
        .pages,
        span {
            background-color: $gris_oscuro;
            color: #fff;
            margin-right: 0.62em;
            font-size: 1.125em;
            line-height: 1.125em;
            padding: 0.62em 0.937em;
        }
        a {
            background-color: $azul_primario;
            color: #fff;
            font-size: 1.125em;
            display: inline-block;
            padding: 0.62em 0.937em;
            margin-right: 0.62em;
            &:hover {
                background-color: $azul_secundario;
                text-decoration: none;
            }
        }
    }
}